.oh{
    overflow: hidden;
}

.ac{
    text-align: center;
}

.df{
    display: flex;
}
.w50{
    width: calc(50% - 16px);
    margin: 8px;
}
.mt35{
    margin-top: 35px;
}
.mb55{
    margin-bottom: 55px;
}
.mb{
    margin-bottom: 40px;
}









