

@media only screen and (max-width: 1200px) {
    .header__container, 
    .container, 
    .footer__container,
    .article_mark .container,
    .article_brain.article_mark.last .container {
        width: 400px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .article__text {
        width: 100%;
        margin-bottom: 50px;
    }
    .header, .article_mark, .footer{
        &:after, &:before{
            height: 80px;
        }
        margin-bottom: 80px;
    }
    .article, .article.article_p, .article.last{
        padding: 70px 0;
        margin-bottom: 80px;
    }
    h1, h2 {
        font-size: 80px;
        line-height: 80px;
    }
    .article.article_p .container{
        h2 {
            font-size: 80px;
            line-height: 80px;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .article__pic{
        width: 100%;
    }
    .article_intro{
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        .article__pic{
            width: 240px;
        }
    }
    .subtext {
        font-size: 20px;
        line-height: 23px;
    }
    .article_mark .container h2 {
        font-size: 52px;
        line-height: 52px;
    }
    .article_mark{
        padding: 106px 0;  
    }
    .article_chat{
        margin: 0 auto;
        width: 320px;
        //height: auto;
        background-position: top center;
        background-size: contain;
        padding: 120px 0;
    }
    .article_chat-1 {
        background-image: url(../img/chat_1_min.jpg);
    }
    .article_chat-2 {
        background-image: url(../img/chat_2_min.jpg);
    }
    .article_chat-3 {
        background-image: url(../img/chat_3_min.jpg);
        height: 810px;
        .chat__message-item{
            padding: 12px 16px;
        }
        .chat_cancel{
            text-align: center;
        }
    }
    .container_chat{
        padding: 70px 20px 0;
    }
    .chat__message-item, .chat_cancel {
        font-size: 16px;
        line-height: 18px;
    }
    .chat__ava{
        img{
            min-width: 44px;
            width: 44px;
            height: 44px;
        }
    }
    .chat{
        padding: 10px 20px;
        margin-bottom: 0;
    }
    .container_chat{
        margin-bottom: 160px;
    }
    .article_ready{
        .article_ready-col{
            flex-direction: column;
            text-align: center;
            margin-bottom: 70px;
        }
    }
    .vote__like div {
        font-size: 64px;
        line-height: 64px;
    }
    .vote__like{
        gap: 16px;
        img{
            width: 50px;
        }
    }
    .vote__like_dis{
        flex: 0 2 auto;
        div{
            flex: 0 2 auto;
            width: 170px;
        }
    }
    .article_ready-pic {
        margin-bottom: 32px;
    }
    .vote {
        margin-bottom: 40px;
        gap: 44px;
    }
    .comment {
        padding: 26px;
        border-radius: 20px;
    }
    .comment__title{
        display: none;
    }
    .comment__item{
        font-size: 16px;
        line-height: 18px;
        gap: 14px;
        span{
            min-width: 76px;
        }
       
    }
    .note {
        display: block;
    }
    .note__quote {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 38px;
    }
    .note__name {
        font-family: "font";
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 16px;
    }
    .note__pic{
        display: none;
    }
    .note__sub {
        font-size: 16px;
        line-height: 20px;
    }
    .note__ava {
        position: static;
    }
    .article_green-top::after {
        top: calc(100% - 80px);
    }
    .article_green-top{
        padding: 70px 0 0;
        margin: 0;
    }
    .article__text p{
        width: 100%;
        font-size: 20px;
        line-height: 23px;
    }
    .article__pic_brain{
        width: 280px;
    }
    .article_ready-colbrain{
        margin-bottom: 0 !important;
    }
    .article_ready-col3{
        flex-direction: column;
        margin-top: 70px;
        h2{
            text-align: center;
            width: 340px;
            margin: 0 auto;
        }
        .article__pic{
            width: 240px;
        }
    }
    .article.article_mark.article_green{
        padding: 90px 0;
    }
    .btn {
        font-size: 46px;
        padding: 0 40px;
        width: 100%;
        height: 76px;
        &:after{
            display: none;
        }
    }
    .board__cat {
        left: -19px;
        bottom: 0;
        width: 180px
    }
    .article_board{
        .article_ready-col{
            margin-bottom: 0;
        }
    }
    .board__board {
        padding-bottom: 175px;
    }
    .total{
        .article_ready-col{
            gap: 0;
            flex-direction: column;
            .article__pic{
                order: 2;
            }
            .article__text{
                order: 1;
                text-align: center;
                h2 span {
                    display: inline-block;
                }
            }
            
        }
    } 
    .article_total {
        gap: 50px;
    } 
    .soc {
        width: 90px;
        height: 90px;
        margin: 0 auto;
    }     
    .result{
        flex-direction: column;
        
        .result__pic{
            width: 180px;
        }
    }
    .result__desc p {
        margin: 0 0 55px;
        text-align: center;
    }
    .article_col.col{
        flex-direction: column;
    }
    .dream {
        width: 280px;
        margin-bottom: -230px;
    }
    .container-over{
        position: relative;
        z-index: 100;
        background: #fff;
        .article__pic{
            display: none;
        }
        .article_ready-col, .article__text{
            margin: 0;
        }
    }
    .article.article_p{
        position: relative;
        z-index: 10;
        margin: 0;
        &:after {
            background-image: url(../img/bg_white_top.png);
            //background-color: #fff;
            top: calc(100% - 80px);
        }
    }
    .soc-wrap {
        margin: 50px 0 75px;
        justify-content: center;
        gap: 24px;
        .soc{
            margin: 0;  
        }
    }
    .tel {
        font-size: 22px;
        line-height: 25px;
        font-weight: 400;
    }
    .last{
        .article__pic{
            display: none;
        }
        .article__text {
            width: 100%;
        }
        .container{
            h2{
                font-size: 80px;
                line-height: 80px;
            }
        }
        .soc-wrap, .article_ready-col.reverse, .article__text{
            margin-bottom: 0;
        }
    }

























}

@media only screen and (max-width: 780px) {

}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 480px) {

}
