$transition: all 0.2s ease-in-out;
$transition05: all 0.5s ease-in-out;
$font: 'Nova300', sans-serif;
$font_bold: 'Nova400', sans-serif;
$font-helvetica: 'Helvetica', sans-serif;

$black: #000;
$green: #709D5C;
$white: #fff;


%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

%nolink{
    &:before{
        display: none;
    }
}

%after{
    content: '';
    display: block;
    position: absolute;
}

















