@font-face {
  font-family: "font";
  src: url("../fonts/NovitoNova-Thin.otf") format("opentype");
}
.subtext, .chat__message-item, .chat_cancel, body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "font";
  margin: 0;
  font-weight: 300;
  letter-spacing: 0px;
}

.result, .note, .header-contact, .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.soc, .btn, .comment__item span, .vote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article_mark:after, .article_mark:before, .header:after {
  content: "";
  display: block;
  position: absolute;
}

.oh {
  overflow: hidden;
}

.ac {
  text-align: center;
}

.df {
  display: flex;
}

* {
  box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
}

input,
select,
textarea {
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0 0 16px;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 16px 0;
  padding: 0;
}

b, strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 12px 0 12px;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
}

/*fixed footer*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  margin: auto auto 0 auto;
}

/*end fixed footer*/
.container {
  margin: 0 auto;
  width: 1176px;
}

.header {
  height: 91px;
  background: #709D5C;
  position: relative;
  margin-bottom: 120px;
  z-index: 10;
}
.header:after {
  background-image: url(../img/bg_green_bottom.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 100%;
  top: 100%;
  width: 100%;
  height: 120px;
}

.header-menu {
  padding: 35px 0 8px;
}
.header-menu__btn {
  display: none;
}

.header-nav__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-right: 85px;
  position: relative;
}
.header-nav__link:last-child {
  margin: 0;
}
.header-nav__link:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  right: 0;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.header-nav__link:hover:before {
  width: 100%;
  left: 0;
}

.header-contact__tel {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-right: 38px;
}
.header-contact__tel:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  right: 0;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.header-contact__tel:hover:before {
  width: 100%;
  left: 0;
}
.header-contact__soc {
  margin-right: 18px;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 48px;
  height: 48px;
}
.header-contact__soc:hover {
  transform: scale(1.1);
}
.header-contact__soc:last-child {
  margin: 0;
}
.header-contact__soc svg {
  width: 48px;
  height: 48px;
  fill: #fff;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0;
  margin-bottom: 120px;
}
.article_col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article_total {
  flex-direction: column;
  align-items: stretch;
  gap: 132px;
}
.article_board .article__text {
  width: auto;
}
.article_board .article_ready-col {
  margin-bottom: 0;
}
.article_brain .article_ready-col {
  margin-bottom: 0;
}
.article_ready {
  flex-direction: column;
  align-items: stretch;
}
.article_ready-col {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  align-items: center;
}
.article_ready-pic {
  margin-bottom: 80px;
}
.article_mark {
  background: #EDE7DD;
  padding: 68px 0;
  position: relative;
}
.article_mark:after, .article_mark:before {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 120px;
}
.article_mark:after {
  background-image: url(../img/bg_brown_bottom.png);
  background-position: center bottom;
  top: 100%;
}
.article_mark:before {
  background-image: url(../img/bg_brown_top.png);
  background-position: center top;
  bottom: 100%;
}
.article_mark .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
}
.article_mark .container h2 {
  font-size: 84px;
  line-height: 84px;
  margin: 0;
}
.article_mark .container h2 span {
  color: #709D5C;
}
.article_mark-green {
  background: #709D5C;
  color: #fff;
}
.article_mark-green:after {
  background-image: url(../img/bg_green_bottom.png);
}
.article_mark-green:before {
  background-image: url(../img/bg_green_top.png);
}
.article_mark-green .container {
  width: 1176px;
}
.article_brown {
  background: #EDE7DD;
}
.article_brown:after {
  background-image: url(../img/bg_brown_bottom.png);
}
.article_brown:before {
  background-image: url(../img/bg_brown_top.png);
}
.article_brown .container {
  display: block;
  width: 1176px;
  text-align: left;
}
.article_green {
  background: #709D5C;
  padding: 160px 0;
}
.article_green .container {
  display: block;
  width: 1176px;
}
.article_green:after {
  background-image: url(../img/bg_green_bottom.png);
  background-position: center bottom;
  top: 100%;
}
.article_green:before {
  background-image: url(../img/bg_green_top.png);
  background-position: center top;
  bottom: 100%;
}
.article_green-top {
  padding-bottom: 420px;
  margin-bottom: 0;
}
.article_green-top:after {
  background-image: url(../img/bg_white_top.png);
  top: calc(100% - 119px);
}
.article__text {
  width: 625px;
}
.article__text p {
  font-family: "Montserrat", sans-serif;
  width: 580px;
  font-size: 31px;
  line-height: 36px;
  margin: 30px 0 0;
}
.article_chat {
  width: 100%;
  display: block;
  padding: 110px 44px 0 448px;
  margin: 260px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 709px;
}
.article_chat-1 {
  background-image: url(../img/chat_1.jpg);
}
.article_chat-2 {
  background-image: url(../img/chat_2.jpg);
}
.article_chat-3 {
  background-image: url(../img/chat_3.jpg);
  margin-bottom: 160px;
}

.chat {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 10px;
}
.chat_cancel {
  justify-content: center;
  color: #709D5C;
  font-size: 20px;
  line-height: 25px;
}
.chat:last-child {
  margin-bottom: 0;
}
.chat__message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.chat__message-item {
  background: #F7F7F7;
  border-radius: 8px;
  border-top-right-radius: 0;
  padding: 16px;
  max-width: 350px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}
.chat_reverse {
  justify-content: flex-start;
}
.chat_reverse .chat__ava {
  order: 1;
}
.chat_reverse .chat__message {
  order: 2;
}
.chat_reverse .chat__message-item {
  background: #ECF4E8;
  border-top-left-radius: 0;
}

.subtext {
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
}

h1 {
  font-size: 160px;
  line-height: 192px;
  margin-bottom: 16px;
}

h2 {
  font-size: 160px;
  line-height: 160px;
}

.vote {
  gap: 72px;
  margin-bottom: 80px;
}
.vote__like {
  display: flex;
  gap: 40px;
}
.vote__like div {
  font-size: 120px;
  line-height: 120px;
}
.vote__like_dis div {
  width: 300px;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 74px;
  background: #FAF8F6;
  border-radius: 40px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  gap: 16px;
}
.comment__title {
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 24px;
}
.comment__item {
  display: flex;
  align-items: center;
  gap: 26px;
  font-size: 28px;
  line-height: 32px;
}
.comment__item span {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
}
.comment__item:nth-child(2) span {
  background: #88B475;
}
.comment__item:nth-child(3) span {
  background: #EDE7DD;
}
.comment__item:nth-child(4) span {
  background: #DA5C42;
}

.note {
  align-items: flex-start;
  gap: 132px;
  position: relative;
  padding-top: 90px;
}
.note__pic {
  width: 68px;
  min-width: 68px;
}
.note__text {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: #FFFFFF;
}
.note__quote {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 77px;
}
.note__name {
  font-family: "font";
  font-size: 72px;
  line-height: 58px;
  margin-bottom: 26px;
}
.note__sub {
  font-size: 30px;
  line-height: 36px;
}
.note__ava {
  position: absolute;
  bottom: -420px;
  right: 0;
}

.btn {
  display: inline-flex;
  height: 100px;
  padding: 0 150px;
  background: #FFFFFF;
  border-radius: 60px;
  font-family: "font";
  font-size: 60px;
  color: #709D5C;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.btn:hover {
  background: #DA5C42;
  color: #fff;
}
.btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 183px;
  height: 58px;
  right: -250px;
  top: 0;
  background: url(../img/arrow_1.svg) center center no-repeat;
}

.board {
  position: relative;
}
.board__cat {
  position: absolute;
  left: -205px;
  bottom: -60px;
}
.board__board {
  padding-bottom: 200px;
}

.total .article_ready-col {
  gap: 40px;
  margin-bottom: 0;
}
.total .article__text {
  width: auto;
  text-align: right;
}
.total .article__text h2 span {
  display: block;
}
.total .article__text p {
  width: auto;
}

.result__desc {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.result__desc p {
  margin: 0 0 77px;
  width: auto;
}
.soc {
  width: 138px;
  height: 138px;
  transition: all 0.2s ease-in-out;
}
.soc svg {
  transition: all 0.2s ease-in-out;
}
.soc:hover svg {
  fill: #709D5C;
}

.wrap {
  display: block;
  color: #000 !important;
}

.dream {
  width: 530px;
  display: flex;
  flex-direction: column;
}

.soc-wrap {
  margin: 80px 0 54px;
  display: flex;
  gap: 48px;
}

.tel {
  font-size: 34px;
  line-height: 39px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
}
.tel::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  right: 0;
  background: #000;
  transition: all 0.2s ease-in-out;
}
.tel:hover::before {
  width: 100%;
  left: 0;
}

@media only screen and (max-width: 1200px) {
  .header__container, .container, .footer__container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}/*# sourceMappingURL=main.css.map */